<div class="doboz">

    <h2>Upload your pictures here</h2>

    <label>Name:</label>
    <input type="text" id="name">



    <input type="file" class="file-input" multiple onchange="console.log(event.target.files)"
        (change)="onFileSelected($event)" enctype="multipart/form-data" #fileUpload>

    <div class="file-upload">

        {{fileName || "No file uploaded yet."}}

        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>

    </div>

    <!-- 
        <file-upload requiredFileType="image/png"></file-upload>
    -->


    <div class="logout">
        <a routerLink="/home"><button type="button" class="btn btn-info btn-rounded">Log out
            </button></a>
    </div>

    <!--
        logout gombra function
    -->

</div>