.file-input {
    display: none;
  }
h4{
  text-align: center;
}
.gallery{
  margin-top: 10rem;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}