<div class="doboz">

    <h2>Upload your pictures here</h2>

    <!--
    <div class="form-group LandingPage1">
        <label for="name" class="name">Name:</label>
        <br>
        <div class="form-group col-sm-2">
            <input type="name" class="form-control" id="name" placeholder="">
        </div>

        <p>Choose File:</p>
        <p>Lehet nem is kell name</p>
        <label for="file">Choose File</label>
        <input type="file" id="file" name="inputFile" accept=".png,.jpg,.jpeg">

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
-->

    <input type="file" (change)="onFileSelected($event)">
    <button type="button" (click)="onUpload">Upload</button>

    <!--
    <div>
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
            <div>
                <input type="file" name="profile" (change)="onFileSelect($event)" />
            </div>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
    -->
    <div class="logout">
        <a routerLink="/home"><button type="button" class="btn btn-info btn-rounded">Log out</button></a>
    </div>






</div>