<div class="doboz">

    <h2>Picture upload</h2>

    <pre></pre>

    <input type="file" class="file-input" name="file" id=fileInput multiple onchange="console.log(event.target.files)" (change)="onFileSelected($event)" accept='image/*' enctype="multipart/form-data" #fileUpload required>

    <div class="file-upload">

        {{"Upload pictures here"}}
        <!--{{fileName || "No file uploaded yet."}}-->


        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>

    </div>


    <div class="logout">
        <button (click)="onLogout()" type="button" class="btn btn-info btn-rounded">Log out</button>
    </div>
</div>

<div class="gallery">
    <!--<div class="container">-->
    <div class="row">
        <div class="col-3">
            <h4 id="cim">Képek</h4>
            <div class="zoom">
                <!--<img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br />-->
            </div>
        </div>
        <div class="col-3">
            <h4 id="cim">Arcok</h4>
        </div>
        <div class="col-3">
            <h4 id="cim">Rendszámok</h4>
        </div>
        <div class="col-3">
            <h4 id="cim">Szövegek</h4>
        </div>
    </div>
    <!--</div>-->
</div>