<!--<h1>Home Page</h1>-->
<section class="homepage">


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">

            <div class="col col-4">
                <a routerLink="/login">Login</a>
            </div>
            <div class="col col-2">

            </div>
            <div class="col col-4">
                <a routerLink="/register">Registration</a>
            </div>

        </div>
    </div>

</section>
<button (click)="showLanding()">Show Profile</button>